@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <table id="readOnlyTable"></table>

    <div style="display: flex; align-items: center;">
        <input style="margin: 10px; margin-left: 0;" type="text" placeholder="Employee ID">
        <button id="getRequest">GET</button>
    </div>
</div>
